<form class="ui form">
  <h4 class="ui dividing header">Cadastrar usuário</h4>
  <div class="field">
    <label>Nome:</label>
    <input type="text" placeholder="nome">
  </div>
  <div class="field">
    <label>CPF:</label>
    <input type="text" placeholder="CPF">
  </div>
  <div class="field">
    <label>Função</label>
    <select class="ui fluid dropdown">
      <option value="">Selecione...</option>
    </select>
  </div>
  <button type="submit" tabindex="0" class="ui teal button">Cadastrar</button>
</form>