<app-loader *ngIf="showLoader"></app-loader>
<div class="painel">

  <div class="ui very padded red segment">
      
      <h1 class="ui center aligned header">Recuperação de senha</h1>

      <form *ngIf="!showContent" class="ui large form error" [formGroup]="formSearch" (submit)="forgotPassword($event, formSearch.value)">

        <div class="fields">
          
          <div class="inline fields">

            <div class="field">

              <label>CPF:</label>
              <input appCpfMask id="cpf" (focus)="hideError()" name="cpf" placeholder="" type="text" formControlName="cpf">

              <!-- Erros do campo -->
              <div *ngIf="formSearch.controls.cpf.invalid && (formSearch.controls.cpf.touched)" class="ui error message">
                            
                  <p *ngIf="formSearch.controls.cpf.errors.minlength">O campo CPF deve conter 11 números.</p>
                  <p *ngIf="formSearch.controls.cpf.errors.required">O campo CPF é obrigatório.</p>
                      
              </div>

            </div>

          </div>
          
        </div>
        
        <div *ngIf="showErrorMessage" class="ui negative message">
          <app-error-message title="Erro!" message="{{ errorMessage }}"></app-error-message>
        </div>

        <button class="ui right floated teal button" type="submit" [disabled]="formSearch.invalid">Consultar</button>
        <a [routerLink]="['']" class="ui right floated button">Voltar</a>
            
      </form>


      <div *ngIf="showQuestion">

        <app-first-verification cpf="{{ cpf }}"></app-first-verification>

      </div>

      <div *ngIf="showChangePassword">

        <app-change-password></app-change-password>

      </div>

      <div *ngIf="showEmail">
        <!-- <div>{{ usuario.usuario.cpf }}</div> -->
        <app-send-email cpf="{{ usuario.usuario.cpf }}"></app-send-email>

      </div>
    
  </div>

</div>