<div class="painel">

  <div class="ui very padded red segment">
      
      <h1 class="ui center aligned header">Recuperação de senha</h1>

      <form *ngIf="!showContent; else elseBlock" class="ui large form error" [formGroup]="formSearch" (submit)="forgotPassword($event, formSearch.value)">

        <div class="inline fields">

          <div class="eight wide field">

            <label>CPF:</label>
            <input id="cpf" name="cpf" placeholder="" type="text" formControlName="cpf">
          
          </div>

          <div class="eight wide field">

            <button class="ui teal button" type="submit" [disabled]="formSearch.invalid">Consultar</button>
            
          </div>

        </div>

      </form>

      <a [routerLink]="['']" class="ui button">Voltar</a>

      <ng-template #elseBlock>

        <form class="ui large form error" [formGroup]="formChange" (submit)="changePassword($event, formChange.value)">

          <div class="disabled field">
              <label>CPF:</label>
              <input type="text" value="{{ cpf }}">
          </div>

          <div class="field">
            <label>Pergunta secreta:</label>
            <input formControlName="pergunta" type="text" id="pergunta" name="pergunta">
          </div>

          <div class="field">
              <label>Resposta:</label>
              <input formControlName="resposta" type="text" id="resposta" name="resposta">
            </div>

            <button class="ui teal submit button" type="submit" [disabled]="formSearch.invalid">Confirmar</button>

        </form>

      </ng-template>
    
  </div>

</div>