<div class="painel">

  <div class="ui very padded red segment">
      
      <h1 class="ui center aligned header">Recuperação de senha</h1>

      <form class="ui large form error" (submit)="forgotPassword($event, formGroup.value)">

        <div class="inline fields">

          <div class="fourteen wide field">

            <label>CPF:</label>
            <input id="cpf" name="cpf" placeholder="" type="text">
          
          </div>

          <div class="two wide field">

            <button *ngIf="!showContent" class="ui right floated button">Consultar</button>
            
          </div>

        </div>


      </form>
    
  </div>

</div>