@media (min-width: 1176px) and (max-width: 2455px){
    .hidden {

        display: none;

    }
    .pagination-previous{

        float: left;

    }

    .current-page {

        float: left;

    }

    .pagination-next {

        float: left;

    }

}

@media (max-width: 1200px){
    
    .pagination-previous{

        float: left;

    }

    .current-page {

        float: left;

    }

    .pagination-next {

        float: left;

    }
    .hidden{
        display: none;
    } 
}