<form class="ui large form error" [formGroup]="formNewPassword">
  
  <input formControlName="hash" type="hidden" value="{{ hash }}">

  <div class="field">
    <label>Nova senha:</label>
    <input formControlName="newPassword" (keyup)="verificaSenha(formNewPassword.value)" type="password" id="password">
  </div>

  <div class="field">
    <label>Re-senha:</label>
    <input formControlName="reNewPassword" type="password" id="re-password">
  </div>

  <button class="ui right floated teal button" type="submit">Trocar senha</button>
  <a [routerLink]="['']" class="ui right floated button">Voltar</a>
  
</form>

<ul class="list">
  <li *ngIf="formNewPassword.controls.newPassword.errors.pattern" class="error">A senha deve conter no mínimo 6 caracteres.</li>
  <li class="success">A senha deve conter no mínimo 6 caracteres.</li>
</ul>