.ui.form input {

    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;

}

.ui.form input:focus {

    border-color: #72B5A4; 

}

.fields {

    margin: 0 auto;
    margin-bottom: 10px;

}

.error {
    
    color: #8B0000;

}

.success {

    color: #3CB371

}