<form class="ui large form error" [formGroup]="formNewPassword">
  
  <input formControlName="hash" type="hidden" value="{{ hash }}">

  <div class="field">
    <label>Nova senha:</label>
    <input formControlName="newPassword" type="password" id="password">
  </div>

  <div class="field">
    <label>Re-senha:</label>
    <input formControlName="confirmPassword" type="password" id="re-password">
  </div>

  <button [disabled]="formNewPassword.invalid" class="ui right floated teal button" type="submit">Trocar senha</button>
  <a [routerLink]="['']" class="ui right floated button">Voltar</a>
  
</form>

<ul class="list">
  <li *ngIf="formNewPassword.controls.newPassword.errors?.minlength || formNewPassword.controls.newPassword.errors?.required" class="error">A senha deve conter no mínimo 6 caracteres.</li>
  <li *ngIf="!formNewPassword.controls.newPassword.errors?.minlength && !formNewPassword.controls.newPassword.errors?.required" class="success">A senha deve conter no mínimo 6 caracteres.</li>
  <li *ngIf="formNewPassword.controls.newPassword.errors?.maxlength || formNewPassword.controls.newPassword.errors?.required" class="error">A senha deve conter no máximo 14 caracteres.</li>
  <li *ngIf="!formNewPassword.controls.newPassword.errors?.maxlength && !formNewPassword.controls.newPassword.errors?.required" class="success">A senha deve conter no máximo 14 caracteres.</li>
  <li *ngIf="formNewPassword.controls.newPassword.errors?.upperCase || formNewPassword.controls.newPassword.errors?.required" class="error">A senha deve conter pelo menos uma letra maiúscula.</li>
  <li *ngIf="!formNewPassword.controls.newPassword.errors?.upperCase && !formNewPassword.controls.newPassword.errors?.required" class="success">A senha deve conter pelo menos uma letra maiúscula.</li>
  <li *ngIf="formNewPassword.controls.newPassword.errors?.lowerCase || formNewPassword.controls.newPassword.errors?.required" class="error">A senha deve conter pelo menos uma letra minúscula.</li>
  <li *ngIf="!formNewPassword.controls.newPassword.errors?.lowerCase && !formNewPassword.controls.newPassword.errors?.required" class="success">A senha deve conter pelo menos uma letra minúscula.</li>
  <li *ngIf="formNewPassword.controls.newPassword.errors?.containNumber || formNewPassword.controls.newPassword.errors?.required" class="error">A senha deve conter pelo menos um número.</li>
  <li *ngIf="!formNewPassword.controls.newPassword.errors?.containNumber && !formNewPassword.controls.newPassword.errors?.required" class="success">A senha deve conter pelo menos um número.</li>
  <li *ngIf="formNewPassword.errors?.equal || formNewPassword.controls.newPassword.errors?.required" class="error"><i class="attention icon"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</li>
  <li *ngIf="!formNewPassword.errors?.equal" class="success"><i class="icon checkmark"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</li>
</ul>