<app-loader *ngIf="showLoader"></app-loader>

<div *ngIf="showSuccessMessage; else elseBlock">
    <div class="ui success message">
        <div class="header">
          Senha alterada com sucesso!
        </div>
        <p>Sua senha foi atualizada no sistema. Clique no botão 'Login' para entrar no sistema com sua nova senha</p>
      </div>
      <a class="ui right floated button" [routerLink]="['']">Login</a>
</div>

<ng-template #elseBlock>
  
  <form class="ui large form error" [formGroup]="formNewPassword" (submit)="novaSenha($event, formNewPassword.value)">
    
    <input formControlName="hash" type="hidden" value="{{ hash }}">
  
    <div class="field">
      <label>Nova senha:</label>
      <input formControlName="newPassword" type="password" id="password">
    </div>
  
    <div class="field">
      <label>Confirmação de senha:</label>
      <input formControlName="confirmPassword" type="password" id="re-password">
    </div>
  
    <button [disabled]="formNewPassword.invalid" class="ui right floated teal button" type="submit">Trocar senha</button>
    <a [routerLink]="['']" class="ui right floated button">Voltar</a>
    
  </form>
  
    <p *ngIf="formNewPassword.controls.newPassword.errors?.minlength || formNewPassword.controls.newPassword.errors?.required" class="error"><i class="attention icon"></i>A senha deve conter no mínimo 6 caracteres.</p>
    <p *ngIf="!formNewPassword.controls.newPassword.errors?.minlength && !formNewPassword.controls.newPassword.errors?.required" class="success"><i class="icon checkmark"></i>A senha deve conter no mínimo 6 caracteres.</p>
    <p *ngIf="formNewPassword.controls.newPassword.errors?.maxlength || formNewPassword.controls.newPassword.errors?.required" class="error"><i class="attention icon"></i>A senha deve conter no máximo 14 caracteres.</p>
    <p *ngIf="!formNewPassword.controls.newPassword.errors?.maxlength && !formNewPassword.controls.newPassword.errors?.required" class="success"><i class="icon checkmark"></i>A senha deve conter no máximo 14 caracteres.</p>
    <p *ngIf="formNewPassword.controls.newPassword.errors?.upperCase || formNewPassword.controls.newPassword.errors?.required" class="error"><i class="attention icon"></i>A senha deve conter pelo menos uma letra maiúscula.</p>
    <p *ngIf="!formNewPassword.controls.newPassword.errors?.upperCase && !formNewPassword.controls.newPassword.errors?.required" class="success"><i class="icon checkmark"></i>A senha deve conter pelo menos uma letra maiúscula.</p>
    <p *ngIf="formNewPassword.controls.newPassword.errors?.lowerCase || formNewPassword.controls.newPassword.errors?.required" class="error"><i class="attention icon"></i>A senha deve conter pelo menos uma letra minúscula.</p>
    <p *ngIf="!formNewPassword.controls.newPassword.errors?.lowerCase && !formNewPassword.controls.newPassword.errors?.required" class="success"><i class="icon checkmark"></i>A senha deve conter pelo menos uma letra minúscula.</p>
    <p *ngIf="formNewPassword.controls.newPassword.errors?.containNumber || formNewPassword.controls.newPassword.errors?.required" class="error"><i class="attention icon"></i>A senha deve conter pelo menos um número.</p>
    <p *ngIf="!formNewPassword.controls.newPassword.errors?.containNumber && !formNewPassword.controls.newPassword.errors?.required" class="success"><i class="icon checkmark"></i>A senha deve conter pelo menos um número.</p>
    <p *ngIf="formNewPassword.errors?.equal || formNewPassword.controls.confirmPassword.errors?.required" class="error"><i class="attention icon"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</p>
    <p *ngIf="!formNewPassword.errors?.equal && !formNewPassword.controls.confirmPassword.errors?.required" class="success"><i class="icon checkmark"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</p>

  </ng-template>