<app-loader *ngIf="showLoader"></app-loader>
<div class="painel">

  <div class="ui very padded green segment">
      
      <h1 class="ui center aligned header">Validação de doumento</h1>

      <form *ngIf="!showContent" [class.success]="successMessage" class="ui large form error" [formGroup]="formToken" (submit)="validarPDF($event, formToken.value)">

        <div class="fields">
          
          <div class="inline fields">

            <div class="field">

              <label>Token:</label>
              <input id="token" appTokenMask name="token" placeholder="" type="text" formControlName="token">

              <!-- Erros do campo -->
              <div *ngIf="formToken.controls.token.invalid && (formToken.controls.token.touched)" class="ui error message">
                            
                  <p *ngIf="formToken.controls.token.errors.minlength">O campo Token deve conter 36 dígitos.</p>
                  <p *ngIf="formToken.controls.token.errors.required">O campo Token é obrigatório.</p>
                      
              </div>

            </div>

          </div>
          
        </div>
        <div *ngIf="successMessage || errorMessage" class="ui message val" [class.success]="successMessage" [class.negative]="errorMessage">
          <div *ngIf="successMessage">
            <app-error-message title="{{ successMessage }}"></app-error-message>
            <p><a [href]="fileUrl" target="_blank">Abrir documento</a></p>
          </div>
          <app-error-message *ngIf="errorMessage" title="{{ errorMessage }}"></app-error-message>
        </div>
        
        <button class="ui right floated teal button" type="submit" [disabled]="formToken.invalid">Consultar</button>
        <a [routerLink]="['']" class="ui right floated button">Voltar</a>
        
      </form>

    
  </div>

</div>