<div class="painel">

  <div class="ui horizontal segments">

    <div class="ui very padded red segment">

      <form class="ui large form"  [formGroup]="meuForm"  (submit)="verifica($event, meuForm.value)" *ngIf="proximo">
        
        <div class="fields"> <!--Inicio Campo CPF e DTNascimento-->

          <div class="eight wide field"> 
            <label>CPF</label>
            <input 
              formControlName="cpf"
              id="cpf"
              name="cpf"
              type="text"
              appCpfMask>
                <!--Mensagens de validação-->
              <div class="ui red message" 
                *ngIf="meuForm.controls.cpf.invalid && (meuForm.controls.cpf.touched)">
                <p *ngIf="meuForm.controls.cpf.errors.minlength">O campo CPF deve conter 11 números.</p>
                <p *ngIf="meuForm.controls.cpf.errors.required">O campo CPF é obrigatório.</p>
              </div>
          </div>

          <div class="eight wide field">
            <label>Data de Nascimento</label>
            <input 
              type="text"
              name="dataNascimento"
              id="dataNascimento"
              formControlName="dataNascimento">
                <!--Mensagens de validação-->
              <div class="ui red message" 
                *ngIf="meuForm.controls.dataNascimento.invalid && (meuForm.controls.dataNascimento.touched)">
                <p *ngIf="meuForm.controls.dataNascimento.errors.minlength">O campo DATA incompleto.</p>
                <p *ngIf="meuForm.controls.dataNascimento.errors.required">O campo é obrigatório</p>
              </div>
          </div>


        </div> <!--Fechamento Campo CPF e DTNascimento-->

        <div class="field">
          <label>Nome Completo</label>
          <input
            type="text"
            name="nome"
            id="nome"
            value="{{pergunta}}"
            formControlName="nome">
              <!--Mensagens de validação-->
            <div class="ui red message" 
                *ngIf="meuForm.controls.nome.invalid && (meuForm.controls.nome.touched)">
                <p *ngIf="meuForm.controls.nome.errors.required">O campo é obrigatório</p>
              </div>
        </div>

        <div class="field">
          <label>Primeiro Nome da Mãe</label>
          <input
            type="text"
            name="nomeMae"
            id="nomeMae"
            formControlName="nomeMae">
              <!--Mensagens de validação-->
            <div class="ui red message" 
                *ngIf="meuForm.controls.nomeMae.invalid && (meuForm.controls.nomeMae.touched)">
                <p *ngIf="meuForm.controls.nomeMae.errors.required">O campo é obrigatório</p>
            </div>
        </div>


        <div class="">
          <button class="ui right floated button" type="submit" [disabled]="meuForm.invalid" >
            Próximo
          </button>
          <a [routerLink]="['']" class="ui right floated button">Voltar</a>
        </div>
      </form>

      <app-cadastro2 *ngIf="!proximo"></app-cadastro2>
      
    </div>

  </div>
  
</div>