<app-loader *ngIf="showLoader"></app-loader>

<div class="painel">
        
    <div class="ui horizontal segments">

        <div class="ui very padded red segment desk">

            <img src="../../../assets/img/logo.png" alt="PBPrev" class="ui medium centered image">
            <div class="ui sizer vertical segment">
                <div class="ui centered huge header">Portal do Segurado</div>
            </div>

        </div>
    
        <div class="ui very padded red segment">

            <div class="mobile">
                <img src="../../../assets/img/logo.png" alt="PBPrev" class="ui small centered image">
                <div class="ui sizer vertical segment">
                    <div class="ui centered huge header">Portal do Segurado</div>
                </div>
            </div>
            
            <form appCpfMask class="ui large form error" (submit)="login($event, formGroup.value)" [formGroup]="formGroup">

                <div class="field">
                    <label>CPF:</label>
                    <input formControlName="cpf" (focus)="hideError()" id="cpf" name="cpf" placeholder="" type="text">
                    
                    <!-- Erros do campo -->
                    <div *ngIf="formGroup.controls.cpf.invalid && (formGroup.controls.cpf.touched)" class="ui error message">
                            
                        <p *ngIf="formGroup.controls.cpf.errors.minlength">O campo CPF deve conter 11 números.</p>
                        <p *ngIf="formGroup.controls.cpf.errors.required">O campo CPF é obrigatório.</p>
                            
                    </div>
                </div>

                <div class="field">
                    <label>Senha:</label>
                    <input formControlName="password" (focus)="hideError()" id="password" name="password" type="password">

                    <!-- Erros do campo -->
                    <div *ngIf="formGroup.controls.password.invalid && formGroup.controls.password.touched" class="ui error message">
                            
                            <p *ngIf="formGroup.controls.password.errors.minlength">A senha deve ter no mínimo 6 caracteres.</p>
                            <p *ngIf="formGroup.controls.password.errors.required">A senha é obrigatória.</p>
                                
                    </div>
                </div>

                <div class="field">
                    <ngx-recaptcha2 [hl]="pt-BR" (expire)="handleExpire()" (success)="handleSuccess($event)"></ngx-recaptcha2>
                    <input type="hidden" value="" formControlName="cap">
                </div>
                
                <button [disabled]="formGroup.invalid" type="submit" class="ui submit button">Entrar</button>

            </form>
            
            <!-- Erro de informaçoes incorretas -->
            <div *ngIf="showMessage" class="ui negative message">

                <app-error-message title="{{ erroTitle }}" message="{{ erroMessage }}"></app-error-message>
            
            </div>


            <div class="content first-item">
                    <p>Esqueceu a senha? <a [routerLink]="['/esqueci/senha']">Clique aqui</a>.</p>
                </div>

                <div class="content">
                    <p>É novo aqui? <a [routerLink]="['cadastro']">Cadastre-se</a>.</p>
                </div>

            </div>

    </div>

</div>