<div class="painel">
        
    <div class="ui horizontal segments">

        <div class="ui very padded red segment">

                <img src="../../../assets/img/logo.png" alt="PBPrev" class="ui medium centered image">
                <div class="ui sizer vertical segment">
                    <div class="ui centered huge header">Portal do Segurado</div>
                </div>

        </div>
    
        <div class="ui very padded red segment">
            
            <form class="ui large form" (submit)="login($event, formLogin.value)" #formLogin="ngForm">

                <div class="field">
                    <label>CPF:</label>
                    <input ngModel (keypress)="fortmaterr()" id="cpf" name="cpf" placeholder="" type="text">
                </div>

                <div class="field">
                    <label>Senha:</label>
                    <input ngModel id="password" name="password" type="password">
                </div>

                    <button type="submit" class="ui submit button">Entrar</button>

                <div class="content first-item">
                    <p>Esqueceu a senha? <a href="#">Clique aqui</a>.</p>
                </div>

                <div class="content">
                    <p>É novo aqui? <a href="#">Cadastre-se</a>.</p>
                </div>

            </form>

        </div>

    </div>

</div>