<div [@flyInOut]="state" class="ui dimmer modals page transition active">
  <div class="ui modal transition active">
    <i class="close icon" (click)="toggleState('inactive')"></i>
    <div class="header">
      Alterar Dados
    </div>
    <div class="content">
      <form class="ui form" [formGroup]="formAlterarDados" (submit)="alterarDados($event, formAlterarDados.value)">
        <div class="disabled field">
          <label>CPF:</label>
          <input type="text" formControlName="cpf">
        </div>
        <div class="disabled field">
          <label>Nome:</label>
          <input type="text" formControlName="nome">
        </div>
        <div class="field" [class.error]="formAlterarDados.controls.email.errors?.email">
          <label>E-mail:</label>
          <input type="text" formControlName="email">
        </div>
        <div class="field">
            <label>Telefone:</label>
            <input appTelefoneMask type="text" formControlName="telefone" id="telefone" placeholder="(XX) X XXXX-XXXX">
          </div>
        <div class="actions">
          <button type="submit" [disabled]="formAlterarDados.invalid" class="ui teal button">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</div>