<div [@flyInOut]="state" class="ui dimmer modals page transition active">
  <div class="ui modal transition active">
    <i class="close icon" (click)="toggleState('inactive')"></i>
    <div class="header">
      Alterar Dados
    </div>
    <div class="content">
      <form class="ui form" [formGroup]="formAlterarDados" (submit)="alterarDados($event, formAlterarDados.value)">
        <div class="disabled field">
          <label>CPF:</label>
          <input type="text" formControlName="cpf">
        </div>
        <div class="field">
          <label>E-mail:</label>
          <input type="text" formControlName="email">
        </div>
        <div class="field">
            <label>Telefone:</label>
            <input type="text" formControlName="telefone">
          </div>
        <div class="field">
          <label>Senha antiga:</label>
          <div class="ui icon input">
            <i [class]="iconOld" (mousedown)="typeOldPass='text'; iconOld='eye link icon'" (mouseleave)="typeOldPass='password'; iconOld='eye link slash icon'"
             (mouseup)="typeOldPass='password'; iconOld='eye link slash icon'"></i>
            <input [type]="typeOldPass" formControlName="senhaAntiga">
          </div>
        </div>
        <div class="field">
          <label>Nova senha:</label>
          <div class="ui icon input">
            <i [class]="iconNew" (mousedown)="typeNewPass='text'; iconNew='eye link icon'" (mouseleave)="typeNewPass='password'; iconNew='eye link slash icon'" 
            (mouseup)="typeNewPass='password'; iconNew='eye link slash icon'"></i>
            <input [type]="typeNewPass" formControlName="newPassword">
          </div>
        </div>
        <div class="field">
          <label>Confirmar senha:</label>
          <div class="ui icon input">
            <i [class]="iconConfirm" (mousedown)="typeConfirmPass='text'; iconConfirm='eye link icon'" 
             (mouseleave)="typeConfirmPass='password'; iconConfirm='eye link slash icon'"
             (mouseup)="typeConfirmPass='password'; iconConfirm='eye link slash icon'"></i>
            <input [type]="typeConfirmPass" formControlName="confirmPassword">
          </div>
        </div>
        <div class="actions">
          <button type="submit" [disabled]="formAlterarDados.invalid" class="ui teal button">Confirmar</button>
        </div>
      </form>
      <p *ngIf="formAlterarDados.controls.newPassword.errors?.minlength || formAlterarDados.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter no mínimo 6 caracteres.</p>
      <p *ngIf="!formAlterarDados.controls.newPassword.errors?.minlength && !formAlterarDados.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter no mínimo 6 caracteres.</p>
      <p *ngIf="formAlterarDados.controls.newPassword.errors?.maxlength || formAlterarDados.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter no máximo 14 caracteres.</p>
      <p *ngIf="!formAlterarDados.controls.newPassword.errors?.maxlength && !formAlterarDados.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter no máximo 14 caracteres.</p>
      <p *ngIf="formAlterarDados.controls.newPassword.errors?.upperCase || formAlterarDados.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter pelo menos uma letra maiúscula.</p>
      <p *ngIf="!formAlterarDados.controls.newPassword.errors?.upperCase && !formAlterarDados.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter pelo menos uma letra maiúscula.</p>
      <p *ngIf="formAlterarDados.controls.newPassword.errors?.lowerCase || formAlterarDados.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter pelo menos uma letra minúscula.</p>
      <p *ngIf="!formAlterarDados.controls.newPassword.errors?.lowerCase && !formAlterarDados.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter pelo menos uma letra minúscula.</p>
      <p *ngIf="formAlterarDados.controls.newPassword.errors?.containNumber || formAlterarDados.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter pelo menos um número.</p>
      <p *ngIf="!formAlterarDados.controls.newPassword.errors?.containNumber && !formAlterarDados.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter pelo menos um número.</p>
      <p *ngIf="formAlterarDados.errors?.equal || formAlterarDados.controls.confirmPassword.errors?.required" class="error">
        <i class="attention icon"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</p>
      <p *ngIf="!formAlterarDados.errors?.equal && !formAlterarDados.controls.confirmPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</p>
    </div>
  </div>
</div>