<app-loader *ngIf="showLoader"></app-loader>
<app-confirmacao-reposta [header]="'Confirmar alteração.'" 
      [message]="'Você tem certeza que deseja alterar este vínculo?'"
      [showModal]="showConfirmModal" (cancel)="showConfirmModal = false" (confirm)="sendDados(vinculoForm.value)"></app-confirmacao-reposta>
<div class="ui form" [class.success]="message" [class.error]="messageError" [formGroup]="vinculoForm">
    <div class="disabled field">
      <label>CPF</label>
      <input readonly type="text" formControlName="cpf">
    </div>
    <div class="field">
      <label>Matrícula</label>
      <input type="text" formControlName="matricula" class="matricula">
    </div>
    <div class="field" formGroupName="idOrgao">
      <label>Orgão</label>
      <select (change)="recarregaCargos(id.value)" class="ui fluid dropdown" formControlName="idOrgao" #id>
        <option value="">SELECTIONE...</option>
        <option *ngFor="let o of orgaos" [value]="o.id">{{ o.descricao }}</option>
      </select>
    </div>
    <div class="field" formGroupName="idCargo">
      <label>Cargo</label>
      <select class="ui fluid dropdown" formControlName="idCargo">
        <option value="">SELECTIONE...</option>
        <option *ngFor="let c of cargos" [value]="c.id_cargo">{{ c.descricao }}</option>
      </select>
  </div>
  <div class="ui success message">
    <p>{{ message }}</p>
  </div>
  <div class="ui error message">
    <p>{{ messageError }}</p>
  </div>
  <button (click)="showConfirmModal = true" [disabled]="vinculoForm.invalid" class="ui submit primary button">Alterar</button>
</div>