<table class="ui selectable very basic table">
  <thead>
    <tr>
      <th>SEGURADO</th>
      <th>DATA DE CRIAÇÃO</th>
      <th>TIPO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of ouvidorias" (click)="toggleState(o)">
      <td class="{{ o.showTd }}">{{ o.usuario.name }}</td>
      <td class="{{ o.showTd }}">{{ o.dataCriacao | date: 'dd/MM/yyyy' }}</td>
      <td class="{{ o.showTd }}">{{ o.ouvidoriaTipo.descricao }}</td>
      <td colspan="3" class="{{ o.showDetail }}">
          <app-detail-ouvidoria [detailOuvidoria]="o"></app-detail-ouvidoria>
      </td>
    </tr>
  </tbody>
</table>

<app-confirmacao-reposta [header]="'AVISO!'"
  [message]="msgInfo"
  [showModal]="showConfirmModal" 
  [messageSucess]="showSucess" 
  (confirm)="buttonModal(msgInfo)">
</app-confirmacao-reposta>