<div class="ui top attached tabular menu">
  <a *ngFor="let m of meses" class="item" [class.active]="m.activate" (click)="deactivate();m.activate = true; mes = m.nomeMes; somaFicha()">{{m.nomeMes}}</a>
</div>
<div class="ui bottom attached tab segment active">
  
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Evento</th>
        <th>Tipo Evento</th>
        <th>Valor(R$)</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let ficha of fichas" >
        <td>{{ ficha.codigoEvento }}</td>
        <td>{{ ficha.evento }}</td>
        <td>{{ ficha.tipoEvento }}</td>
        <td [ngSwitch]="mes">
          <span *ngSwitchCase="'Jan'">
            {{ ficha.janeiro | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Fev'">
            {{ ficha.fevereiro | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Mar'">
            {{ ficha.marco | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Abr'">
            {{ ficha.abril | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Mai'">
            {{ ficha.maio | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Jun'">
            {{ ficha.junho | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Jul'">
            {{ ficha.julho | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Ago'">
            {{ ficha.agosto | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Set'">
            {{ ficha.setembro | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Out'">
            {{ ficha.outubro | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Nov'">
            {{ ficha.novembro | number: '1.2-2' }}
          </span>
          <span *ngSwitchCase="'Dez'">
            {{ ficha.dezembro | number: '1.2-2' }}
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2"><strong>Total Bruto:</strong> {{ totalBruto | number: '1.2-2' }}</th>
        <th><strong>Total Desconto:</strong> {{ totalDesconto | number: '1.2-2' }}</th>
        <th colspan="2"><strong>Total Líquido:</strong> {{ totalLiquido | number: '1.2-2' }}</th>
      </tr>
    </tfoot>
  </table>

</div>