<div [@flyInOut]="'in'" class="ui segments">

  <div class="ui secondary segment">
    <h1 class="header">{{ title | uppercase }}</h1>
  </div>
  
  <div class="ui segment bottom" *ngIf="ficha">
    
    <div class="ui grid">
      <div class="doubling four wide column">
        <div class="ui vertical fluid menu">
          <a (click)="toggle('view')" [routerLink]="['visualizar/ficha']" class="{{activeView}}item" id= "visu">
            Visualizar
            <i class="plus square outline icon"></i>
          </a>
          <a (click)="toggle('rep')" [routerLink]="['imprimir/ficha']" class="{{ activeImprimir }}item" id= "impri">
            Imprimir por período
          </a>
        </div>
      </div>
      <div class="doubling twelve wide stretched column">
        <div class="ui tall stacked segment">
          <!-- <router-outlet></router-outlet> -->
        </div>
      </div>
    </div>
  </div>
  <app-visualiza-ficha *ngIf="visualizar"
    (pageFicha)="mudaFlagPageFicha($event)">
  </app-visualiza-ficha>

  <app-imprimir-ficha *ngIf="imprimir"
  (pageFicha)="mudaFlagPageFicha($event)">
</app-imprimir-ficha>

</div>