<div class="ui segments">

  <div class="ui secondary segment">
    <h1 class="header">{{ title | uppercase }}</h1>
  </div>
  
  <div class="ui segment bottom">
    
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid menu">
          <a class="active teal item">
            Entrada
            <div class="ui teal left pointing label">2</div>
          </a>
          <a class="item">
            Abrir nova solicitação
            <i class="plus square outline icon"></i>
          </a>
        </div>
      </div>
      <div class="twelve wide stretched column">
        <div class="ui tall stacked segment">
          <p>Segmento floated.</p>
        </div>
      </div>

    </div>



  </div>

</div>