<div *ngIf="showLoader">
  <app-loader message="Enviando..."></app-loader>
</div>

<div *ngIf="!showContent">

  <h3 [hidden]="!outraOpcao">Outra Opção</h3>
  <h3 [hidden]="outraOpcao">Deseja enviar a senha para o e-mail?</h3>
  <h4 [hidden]="outraOpcao">{{ email }}</h4>
  <h5 [hidden]="outraOpcao">* O botão 'Outra Opção' redireciona para a recuperação de senha através da pergunta de segurança.</h5>


  <div *ngIf="errorMessage" class="ui negative message">

    <div class="header">Erro ao enviar e-mail</div>
    <p>Desculpe, não conseguimos enviar o e-mail. Clique no botão 'Outra Opção' e tente recuperar a senha através de sua pergunta de segurança.
      Ou tente enviar novamente.
    </p>

  </div>

  <button  class="ui right floated teal button" *ngIf="!this.outraOpcao" type="submit" (click)="sendEmail()" >Enviar</button>
  <button  type="button" class="ui right floated button" *ngIf="!this.outraOpcao" (click)="showQuestion()" >Outra Opção</button>

</div>


<div *ngIf="showContent">
  <h3>Pronto!</h3>
  <h5>Foi enviado um link para seu e-mail cadastrado, verfique sua caixa de entrada</h5>
  <a [routerLink]="['']" class="ui right floated button">Voltar</a>
</div>

<div *ngIf="showFirstVerification">
  <app-first-verification cpf="{{ cpf }}"></app-first-verification>
</div>