<div class="doubling twelve wide stretched column">
  <div class="ui tall stacked segment">
    <table  class="ui selectable very basic table" >
    
      <thead>
          <tr>
            <th>Tipo</th>
            <th>Status</th>
            <th>Data de Criação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of respOuvidoria | paginate: { itemsPerPage: 5, currentPage: page }">
            <td (click)="showDetail(r)" class="{{ r.showTd }}">{{ r.ouvidoriaTipo.descricao }}</td>
            <td (click)="showDetail(r)" class="{{ r.showTd }}" *ngIf="r.status">
              <i class="yellow attention icon"></i>
              Aberto
            </td>
            <td (click)="showDetail(r)" class="{{ r.showTd }}" *ngIf="!r.status">
              <i class="green checkmark icon"></i>
              Concluído
            </td>
            <td (click)="showDetail(r)" class="{{ r.showTd }}">{{ r.dataCriacao | date: 'dd/MM/yyyy' }}</td>
            <td (click)="showDetail(r)" colspan="3" class="{{ r.showDetail }}">
              <app-detail-ouvidoria [respostaOuvidoria]="r"></app-detail-ouvidoria>
            </td>
          </tr>
        </tbody>
        <tfoot>
            <div class="ui right floated pagination menu">
              <pagination-template #p="paginationApi" (pageChange)="page = ($event)">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <a (click)="p.previous()" class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                </div>
                <div class="current-page" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                  <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="item">
                    {{ page.label }}
                  </a>
                  <div class="current-page" *ngIf="p.getCurrent() === page.value">
                    <a class="item active">{{ page.label }}</a>
                  </div>
                </div>
                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                  <a (click)="p.next()" class="icon item"><i class="right chevron icon"></i></a>
                </div>
              </pagination-template>
            </div>
        </tfoot>
    
      </table>

  </div>
</div>