<div class="ui segments">
  
  <div class="ui secondary segment">
    <h1 class="header">{{ title | uppercase }}</h1>
  </div>

  <div class="ui segment">

    <div class="processos">
    
      <div class="ui sub header">Processos</div>
      <select name="processos" class="ui fluid search dropdown">
        <option value="">Processos</option>
        <option value="1414">0000014-14</option>
        <option value="1413">0000014-13</option>
        <option value="1412">0000014-12</option>
      </select>

    </div>

    <div class="aba">

      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="gerais">Dados Gerais</a>
        <a class="item" data-tab="tramitacao">Tramitações</a>
        <a class="item" data-tab="documentos">Documentos</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="gerais">
        <table class="ui single line table">
          <tbody>
            <tr>
              <td><h4>PROCESSO NÚMERO</h4></td>
              <td>PROCESSO NÚMERO</td>
            </tr>
            <tr>
              <td><h4>NOME</h4></td>
              <td>NOME</td>
            </tr>
            <tr>
              <td><h4>CPF</h4></td>
              <td>CPF</td>
            </tr>
            <tr>
              <td><h4>MATRÍCULA</h4></td>
              <td>MATRÍCULA</td>
            </tr>
            <tr>
              <td><h4>DATA DE REQUISIÇÃO</h4></td>
              <td>DATA DE REQUISIÇÃO</td>
            </tr>
            <tr>
              <td><h4>DATA DE AGENDAMENTO</h4></td>
              <td>DATA DE AGENDAMENTO</td>
            </tr>
            <tr>
              <td><h4>ASSUNTO</h4></td>
              <td>ASSUNTO</td>
            </tr>
            <tr>
              <td><h4>STATUS</h4></td>
              <td>STATUS</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ui bottom attached tab segment" data-tab="tramitacao">Tramitações</div>
      <div class="ui bottom attached tab segment" data-tab="documentos">Doumentos</div>
    
    </div>

  </div>

</div>