@media (min-width: 1176px) and (max-width: 2455px){

    .ui.segments {

        border-radius: 0%;

    }

    .ui.segments .ui.segment:not(.stacked.segment) {

        border-radius: 0%;
        max-height: 80vmin;
        overflow: auto;

    }

    .bottom.segment {

        height: 70vmin;

    }

    .stacked.segment {

        width: 100%;

    }

    .grid:last-child {

        height: 100%;

    }
    
    .new {

        width: 60%;
        position: absolute;
        right: 0%;
        bottom: 0%;

    }

    .hidden {
        
        display: none;

    }

}
@media (max-width: 767px){
    
    #pr{
        margin-right: 1%;
        margin-top: 1%;
        font-size: 75%;
    }
    #number{
        font-size: 60%;
        width: 165%;
    }
    .bottom.segment {

        height: 100vmin;

    }



}