<div class="ui very center aligned basic segment">
  <h3 class="ui header">Detalhamento</h3>
</div>
<table class="ui very basic table">
    <tbody>
      <tr>
        <td><h4 class="ui header">Titulo:</h4></td>
        <td>{{ solicitacao.titulo }}</td>
      </tr>
        <tr>
          <td><h4 class="ui header">Descrição:</h4></td>
          <td>{{ solicitacao.descricao }}</td>
        </tr>
        <tr>
          <td><h4 class="ui header">Data:</h4></td>
          <td>{{ solicitacao.data }}</td>
        </tr>
    </tbody>
</table>