<table [@flyInOut]="'in'" class="ui selectable very basic table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Status</th>
      <th>Data de lançamento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sugestão</td>
      <td><i class="yellow attention icon"></i>Aberta</td>
      <td>20/08/2018</td>
    </tr>
    <tr>
      <td>Elogio</td>
      <td><i class="green checkmark icon"></i>Concluída</td>
      <td>15/05/2018</td>
    </tr>
    <tr>
      <td>Reclamação</td>
      <td><i class="green checkmark icon"></i>Concluída</td>
      <td>10/12/2017</td>
    </tr>
  </tbody>
</table>