<div class="ui card cab">
    <div class="content">
        <div class="ui left floated header">Notificações</div>
        <div class="ui left pointing label">{{ numNotificacoes }}</div>
        <i class="caret down icon"></i>
    </div>
</div>

<div class="notificacoes">
    <div class="ui card ntf" *ngFor="let notificacao of notificacoes">
        <div class="content">
            <div class="ui small feed">
                <div class="ui circular labels">
                    <a class="ui label">
                        {{ notificacao?.dataCriacao | date: 'dd/MM/yyyy' }}
                    </a>
                </div>
                {{ notificacao?.descricao | uppercase}}
            </div>
        </div>
    </div>
    <div class="ui card ntf" *ngIf="numNotificacoes == 0">
        <div class="content">
            <div class="ui small feed">
                SEM NOTIFICAÇÕES ATIVAS.
            </div>
        </div>
    </div>
</div>