<div class="ui card cab">
    <div class="content">
        <div class="ui left floated header">Notificações</div>
        <div class="ui left pointing label">{{ numNotificacoes }}</div>
        <i class="angle down icon"></i>
    </div>
</div>

<div class="notificacoes">
    <div class="ui card ntf" *ngFor="let notificacao of notificacoes">
        <div class="content">
            <div class="ui small feed">
                sakjdsalk jsalkjdslakjd laskjdla
            </div>
        </div>
    </div>
</div>