<app-loader *ngIf="showLoader"></app-loader>
<app-confirmacao-reposta
  [header]="'Geração de documento'"
  [message]="message"
  [showModal]="showModal"
  [messageSucess]="false"
  (confirm)="showModal = false">
</app-confirmacao-reposta>
<form class="ui form" [formGroup]="uploadForm" (submit)="sendArchive($event, uploadForm.value)">
    <div class="two fields">
      <div class="field">
        <label>Mes Documento</label>
        <input type="text" id="mes" formControlName="mes" placeholder="MM">
      </div>
      <div class="field">
        <label>Ano Documento</label>
        <input type="text" id="ano" formControlName="ano" placeholder="YYYY">
      </div>
    </div>
    <div class="field">
      <button type="button" (click)="inputFile.click()" class="massive ui blue button"> {{ file ? file.name : 'SELECIONAR ARQUIVO 1' }}</button>
      <input formControlName="file" accept=".pdf" hidden type="file" (change)="upload($event.target.files[0])" #inputFile>
    </div>
    
    <div class="field">
      <button type="button" (click)="inputFile2.click()" class="massive ui blue button"> {{ file2 ? file2.name : 'SELECIONAR ARQUIVO 2' }}</button>
      <input formControlName="file2" accept=".pdf" hidden type="file" (change)="upload2($event.target.files[0])" #inputFile2>
    </div>
    <button type="submit" class="ui positive button" [disabled]="!uploadForm.valid">Enviar</button>
    
</form>

<button type="button" class="ui positive button" (click) = "changeState()" >Adicionar outros arquivos</button>



<div class="fields" *ngIf = "state">
    <form class="ui form3" [formGroup]="uploadForm3" (submit)="sendArchive($event, uploadForm3.value)">
      <div class="field">
        <button type="button" (click)="inputFile3.click()" class="massive ui blue button"> {{ file3 ? file3.name : 'SELECIONAR ARQUIVO 3' }}</button>
        <input formControlName="file3" accept=".pdf" hidden type="file" (change)="upload3($event.target.files[0])" #inputFile3>
        <button type="submit" class="ui positive button" [disabled]="!file3">Enviar</button>
      </div>
    </form>

    <form class="ui form4" [formGroup]="uploadForm4" (submit)="sendArchive($event, uploadForm4.value)">
      <div class="field">
        <button type="button" (click)="inputFile4.click()" class="massive ui blue button"> {{ file4 ? file4.name : 'SELECIONAR ARQUIVO 4' }}</button>
        <input formControlName="file4" accept=".pdf" hidden type="file" (change)="upload4($event.target.files[0])" #inputFile4>
        <button type="submit" class="ui positive button" [disabled]="!file4">Enviar</button>
      </div>
    </form>

    <form class="ui form5" [formGroup]="uploadForm5" (submit)="sendArchive($event, uploadForm5.value)">
      <div class="field">
        <button type="button" (click)="inputFile5.click()" class="massive ui blue button"> {{ file5 ? file5.name : 'SELECIONAR ARQUIVO 5' }}</button>
        <input formControlName="file5" accept=".pdf" hidden type="file" (change)="upload5($event.target.files[0])" #inputFile5>
        <button type="submit" class="ui positive button" [disabled]="!file5">Enviar</button>
      </div>
    </form>

    <form class="ui form6" [formGroup]="uploadForm6" (submit)="sendArchive($event, uploadForm6.value)">
      <div class="field">
        <button type="button" (click)="inputFile6.click()" class="massive ui blue button"> {{ file6 ? file6.name : 'SELECIONAR ARQUIVO 6' }}</button>
        <input formControlName="file6" accept=".pdf" hidden type="file" (change)="upload6($event.target.files[0])" #inputFile6>
        <button type="submit" class="ui positive button" [disabled]="!file6">Enviar</button>
      </div>
    </form>

    <form class="ui form7" [formGroup]="uploadForm7" (submit)="sendArchive($event, uploadForm7.value)">
      <div class="field">
        <button type="button" (click)="inputFile7.click()" class="massive ui blue button"> {{ file7 ? file7.name : 'SELECIONAR ARQUIVO 7' }}</button>
        <input formControlName="file7" accept=".pdf" hidden type="file" (change)="upload7($event.target.files[0])" #inputFile7>
        <button type="submit" class="ui positive button" [disabled]="!file7">Enviar</button>
      </div>
    </form>

    <form class="ui form8" [formGroup]="uploadForm8" (submit)="sendArchive($event, uploadForm8.value)">
      <div class="field">
        <button type="button" (click)="inputFile8.click()" class="massive ui blue button"> {{ file8 ? file8.name : 'SELECIONAR ARQUIVO 8' }}</button>
        <input formControlName="file8" accept=".pdf" hidden type="file" (change)="upload8($event.target.files[0])" #inputFile8>
        <button type="submit" class="ui positive button" [disabled]="!file8">Enviar</button>
      </div>
    </form>

    <form class="ui form9" [formGroup]="uploadForm9" (submit)="sendArchive($event, uploadForm9.value)">
      <div class="field">
        <button type="button" (click)="inputFile9.click()" class="massive ui blue button"> {{ file9 ? file9.name : 'SELECIONAR ARQUIVO 9' }}</button>
        <input formControlName="file9" accept=".pdf" hidden type="file" (change)="upload9($event.target.files[0])" #inputFile9>
        <button type="submit" class="ui positive button" [disabled]="!file9">Enviar</button>
      </div>
    </form>

</div>