<app-loader *ngIf="showLoader"></app-loader>
<app-confirmacao-reposta
  [header]="'Geração de documento'"
  [message]="message"
  [showModal]="showModal"
  [messageSucess]="false"
  (confirm)="showModal = false">
</app-confirmacao-reposta>

<form class="ui form" [formGroup]="uploadForm" (submit)="sendArchive($event, uploadForm.value)">
    <div class="two fields">
      <div class="field">
        <label>Mes Documento</label>
        <input type="text" id="mes" formControlName="mes" placeholder="MM">
      </div>
      <div class="field">
        <label>Ano Documento</label>
        <input type="text" id="ano" formControlName="ano" placeholder="YYYY">
      </div>
    </div>
    <div class="field">
      <button type="button" (click)="inputFileCad.click()" class="massive ui blue button"> {{ fileCad ? fileCad.name : 'SELECIONAR CAD' }}</button>
      <input formControlName="fileCad" accept=".dbf" hidden type="file" (change)="uploadCad($event.target.files[0])" #inputFileCad>
    </div>
    
    <div class="field">
      <button type="button" (click)="inputFileVds.click()" class="massive ui blue button"> {{ fileVds ? fileVds.name : 'SELECIONAR VDS' }}</button>
      <input formControlName="fileVds" accept=".dbf" hidden type="file" (change)="uploadVds($event.target.files[0])" #inputFileVds>
    </div>
    <button type="submit" class="ui positive button" [disabled]="!uploadForm.valid">Enviar</button>
    
</form>

<!-- <button type="button" class="ui alternative button" (click) = "changeState()" >Adicionar outros arquivos</button> -->



<!-- <div class="fields" *ngIf = "state">
    

</div> -->