<div class="ui dimmer modals page active">
  <!-- <div class="ui very basic table"> -->
    <div class="ui modal active">
      <app-loader *ngIf="showLoader"></app-loader>
      <i class="close icon" (click)="toggleState()"></i>
      <div class="header">
        informações
      </div>
      <table class="ui selectable table"  *ngFor="let v of vinculos">
        <thead>
          <tr>
            <th>Nome</th>
            <th>{{ user.name }}</th>
          </tr>
          <tr>
            <th>CPF</th>
            <th>{{ user.cpf }}</th>
          </tr>
          <tr>
            <th>Função</th>
            <th>{{ user.role }}</th>
          </tr>
          <tr>
            <th>Matricula</th>
            <th>{{ v.matricula }}</th>
          </tr>
          <tr>
            <th>Orgão</th>
            <th>{{ v.idOrgao.descricao }}</th>
          </tr>
          <tr>
            <th>Cargo</th>
            <th>{{ v.idCargo.descricao }}</th>
          </tr>
        </thead>
      </table>
    </div>
</div>


