<app-loader *ngIf="showLoader"></app-loader>
<div *ngIf="!vinculos; else elseBlock" class="ui action input" [formGroup]="segForm">
  <input appCpfMask id="cpf" type="text" placeholder="CPF..." formControlName="cpf">
  <button class="ui button" (click)="consultaVinculos(segForm.get('cpf').value)" [disabled]="segForm.invalid">Consultar</button>
</div>
<!-- Erro de informaçoes incorretas -->
<div *ngIf="showMessage" class="ui negative message">

  <app-error-message title="{{ erroTitle }}" message="{{ erroMessage }}"></app-error-message>

</div>
<ng-template #elseBlock>
  <div class="ui segment">
    <div class="ui grid">
      <div class="doubling four wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="item" *ngFor="let v of vinculos" [class.active]="v.active" (click)="deactive(); v.active = true; selectedVinculo = v">
            {{ v.matricula }} | {{ v.idOrgao.descricao }}</a>
        </div>
      </div>
      <div class="doubling twelve wide streched column">
        <app-vinculo-form [vinculo]="selectedVinculo"></app-vinculo-form>
      </div>
    </div>
    <button (click)="vinculos = null" class="ui button">Consultar outro</button>
  </div>
</ng-template>

