<app-confirmacao-reposta [header]="'AVISO!'"
  [message]="messageInfo"
  [showModal]="showConfirmModal"
  (confirm)="deleteNotificacao(listNotificacoes.id)"
  (cancel)="showConfirmModal = false">
</app-confirmacao-reposta>

<app-confirmacao-reposta [header]="'AVISO!'"
  [message]="messageInfo"
  [showModal]="showAviso"
  (confirm)="buttonModal(messageInfo)"
  (cancel)="showConfirmModal = false"
  [messageSucess]="showConfirmModal">
</app-confirmacao-reposta>

<app-loader *ngIf="showLoader"></app-loader>


<div (click)="toggle()" class="ui very center aligned basic segment">
  <h3 class="ui header">Detalhamento</h3>
</div>
<table class="ui very basic table" (click)="toggle()">
  <tbody>
    <!-- <tr>
        <td><h4 class="ui header">Tipo:</h4></td>
        <td>{{ listNotificacoes.ouvidoriaTipo.descricao }}</td>
      </tr> -->
      <tr>
          <td><h4 class="ui header">Descrição:</h4></td>
          <td>{{ listNotificacoes.descricao }}</td>
        </tr>
        <tr>
          <td><h4 class="ui header">Data de criação:</h4></td>
          <td>{{ listNotificacoes.dataCriacao | date: 'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <td><h4 class="ui header">Data de encerramento:</h4></td>
          <td>{{ listNotificacoes.dataValidade | date: 'dd/MM/yyyy' }}</td>
        </tr>

      </tbody>
    </table>
    <button class="ui right floated active button" (click)="buttonModal('')" type="submit" >Excluir</button>