<app-responder-ouvidoria *ngIf="showModal" [ouvidoria]="ouvidoria" (toggle)="showModal = $event"></app-responder-ouvidoria>
<table  class="ui very basic table" >
<thead>
    <tr>
      <th>SEGURADO</th>
      <th>ASSUNTO</th>
      <th>TIPO</th>
      <th>DATA DE CRIAÇÃO</th>
      <th>RESPONDER</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of listarOuvidoria">
      <td>{{ o.usuario.name }}</td>
      <td>{{ o.assunto }}</td>
      <td>{{ o.ouvidoriaTipo.descricao }}</td>
      <td>{{ o.dataCriacao | date: 'dd/MM/yyyy' }}</td>
      <td><i class="icon link edit" (click)="responderOuvidoria(o)"></i></td>
    </tr>
  </tbody>
</table>

<app-confirmacao-reposta [header]="'AVISO!'"
  [message]="msgInfo"
  [showModal]="showConfirmModal" 
  [messageSucess]="showSucess" 
  (confirm)="buttonModal(msgInfo)">
</app-confirmacao-reposta>
