<div [@flyInOut]="state" class="ui dimmer modals page transition active">
  <div class="ui modal transition active">
    <i class="close icon" (click)="toggleState('inactive')"></i>
    <div class="header">
      Alterar Senha
    </div>
    <div class="content">
      <form class="ui form" [formGroup]="formAlterarSenha" (submit)="alterarSenha($event, formAlterarSenha.value)">
        <div class="field">
          <label>Senha antiga:</label>
          <div class="ui icon input">
            <i [class]="iconOld" (mousedown)="typeOldPass='text'; iconOld='eye slash link icon'" (mouseleave)="typeOldPass='password'; iconOld='eye link icon'"
             (mouseup)="typeOldPass='password'; iconOld='eye link icon'"></i>
            <input [type]="typeOldPass" formControlName="senhaAntiga">
          </div>
        </div>
        <div class="field" [class.error]="formAlterarSenha.controls.newPassword.errors && formAlterarSenha.controls.newPassword.touched">
          <label>Nova senha:</label>
          <div class="ui icon input">
            <i [class]="iconNew" (mousedown)="typeNewPass='text'; iconNew='eye slash link icon'" (mouseleave)="typeNewPass='password'; iconNew='eye link icon'" 
            (mouseup)="typeNewPass='password'; iconNew='eye link icon'"></i>
            <input [type]="typeNewPass" formControlName="newPassword">
          </div>
        </div>
        <div class="field" [class.error]="formAlterarSenha.errors?.equal && formAlterarSenha.controls.confirmPassword.touched">
          <label>Confirmar senha:</label>
          <div class="ui icon input">
            <i [class]="iconConfirm" (mousedown)="typeConfirmPass='text'; iconConfirm='eye slash link icon'" 
             (mouseleave)="typeConfirmPass='password'; iconConfirm='eye link icon'"
             (mouseup)="typeConfirmPass='password'; iconConfirm='eye link icon'"></i>
            <input [type]="typeConfirmPass" formControlName="confirmPassword">
          </div>
        </div>
        <div class="actions">
          <button type="submit" [disabled]="formAlterarSenha.invalid" class="ui teal button">Confirmar</button>
        </div>
      </form>
      <p *ngIf="formAlterarSenha.controls.newPassword.errors?.minlength || formAlterarSenha.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter no mínimo 6 caracteres.</p>
      <p *ngIf="!formAlterarSenha.controls.newPassword.errors?.minlength && !formAlterarSenha.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter no mínimo 6 caracteres.</p>
      <p *ngIf="formAlterarSenha.controls.newPassword.errors?.maxlength || formAlterarSenha.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter no máximo 14 caracteres.</p>
      <p *ngIf="!formAlterarSenha.controls.newPassword.errors?.maxlength && !formAlterarSenha.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter no máximo 14 caracteres.</p>
      <p *ngIf="formAlterarSenha.controls.newPassword.errors?.upperCase || formAlterarSenha.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter pelo menos uma letra maiúscula.</p>
      <p *ngIf="!formAlterarSenha.controls.newPassword.errors?.upperCase && !formAlterarSenha.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter pelo menos uma letra maiúscula.</p>
      <p *ngIf="formAlterarSenha.controls.newPassword.errors?.lowerCase || formAlterarSenha.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter pelo menos uma letra minúscula.</p>
      <p *ngIf="!formAlterarSenha.controls.newPassword.errors?.lowerCase && !formAlterarSenha.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter pelo menos uma letra minúscula.</p>
      <p *ngIf="formAlterarSenha.controls.newPassword.errors?.containNumber || formAlterarSenha.controls.newPassword.errors?.required" class="error">
        <i class="attention icon"></i>A nova senha deve conter pelo menos um número.</p>
      <p *ngIf="!formAlterarSenha.controls.newPassword.errors?.containNumber && !formAlterarSenha.controls.newPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>A nova senha deve conter pelo menos um número.</p>
      <p *ngIf="formAlterarSenha.errors?.equal || formAlterarSenha.controls.confirmPassword.errors?.required" class="error">
        <i class="attention icon"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</p>
      <p *ngIf="!formAlterarSenha.errors?.equal && !formAlterarSenha.controls.confirmPassword.errors?.required" class="success">
        <i class="icon checkmark"></i>Os campos 'senha' e 'Confirmação de senha' devem ser iguais.</p>
    </div>
  </div>
</div>