<app-confirmacao-reposta
  [header]="'Geração de documento'"
  [message]="message"
  [showModal]="showModal"
  [messageSucess]="false"
  (confirm)="showModal = false">
</app-confirmacao-reposta>
<app-loader *ngIf="showLoader"></app-loader>
<table *ngIf="contracheques.length >= 1" class="ui very basic table" id="show">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Descrição</th>
      <th>Valor(R$)</th>
      <th>Prazo</th>
      <th>
        <a data-tooltip="Gerar PDF" data-variation="wide" data-position="bottom center">
          <i (click)="gerarPdf()" class="black file print link icon"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contracheques">
      <td>{{ c?.evento }}</td>
      <td>{{ c?.descricao }}</td>
      <td>{{ c?.valor | number: '1.2-2' }}</td>
      <td colspan="2">{{ c?.prazo }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"><strong>Total Bruto:</strong> {{ totalBruto | number: '1.2-2' }}</th>
      <th><strong>Total Desconto:</strong> {{ totalDesconto | number: '1.2-2' }}</th>
      <th colspan="2"><strong>Total Líquido:</strong> {{ totalLiquido | number: '1.2-2' }}</th>
    </tr>
  </tfoot>
</table>