<div class="ui segment cab">
        
    <div class="ui header cab">
        
        <a href="#" class="ui small image">
            <img src="../../assets/img/logo.png">
        </a>
        <h3>Portal do segurado</h3>

    </div>
    
    <div class="logout">
        <i class="sign out alternate icon"></i><span>Sair.</span>
    </div>

</div>
<!-- MENU -->
<div class="menu">

    <div class="ui category search">
            <div class="ui left icon input">
                <input class="prompt" placeholder="Digite para buscar menus..." type="text">
                <i class="search icon"></i>
            </div>
    </div>
        
    <div class="ui green cards">
        <a class="ui card" href="#">
            <div class="content">
                <div class="description">
                        <i class="big circular inverted green book icon"></i><span>Meus processos</span>
                </div>
            </div>
        </a>
    </div>

    <div class="ui green cards">
        <a class="card" href="#">
            <div class="content">
                <div class="description">
                        <i class="big circular inverted green money bill alternate icon"></i><span>Pagamentos</span>
                </div>
            </div>
        </a>
    </div>

    
    <div class="ui green cards">
        <a class="card" href="#">
            <div class="content">
                <div class="description">
                    <i class="big circular inverted green newspaper icon"></i><span>Ficha financeira</span>
                </div>
            </div>
        </a>
    </div>
    
    <div class="ui green cards">
        <a class="card" href="#">
            <div class="content">
                <div class="description">
                    <i class="big circular inverted green dollar icon"></i><span>PBConsig</span>
                </div>
            </div>
        </a>
    </div>

    <div class="ui green cards">
        <a class="card" href="#">
            <div class="content">
                <div class="description">
                    <i class="big circular inverted green dollar icon"></i><span>Solicitações</span>
                </div>
            </div>
        </a>
    </div>
    
    <div class="ui green cards">
        <a class="card" href="#">
            <div class="content">
                <div class="description">
                        <i class="big circular inverted green users icon"></i><span>Ouvidoria</span>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- NOTIFICAÇÃO -->
<div class="notificacao">

    <div class="ui card">
        <div class="content">
            <div class="ui left floated header">Notificações</div>
            <div class="ui left pointing label">3</div>
            <i class="angle down icon"></i>
        </div>
    </div>

    <div class="ui card ntf">

        <div class="content">
            <div class="ui samll feed">
                sakjdsalk jsalkjdslakjd laskjdla
            </div>
        </div>
        <div class="content">
            <div class="ui samll feed">
                sakjdsalk jsalkjdslakjd laskjdla asdsaklj ha bas bdkab skjdb a. 
            </div>
        </div>
        <div class="content">
            <div class="ui samll feed">
                sakjdsalk jsalkjdslakjd laskjdla
            </div>
        </div>
    
    </div>

</div>
<!-- CONTEÚDO -->

<div class="conteudo">

    <div class="ui very padded segments">

        <div class="ui secondary segment">
            TITLE
        </div>
        
        <div class="ui segment tela">
    
            <h2 class="ui teal header">Bem vindo ao Portal do Segurado!</h2>
            <h3 class="ui teal header">Aqui você terá acesso a suas informações de uma forma rápida e fácil.</h3>
            <h4 class="ui teal header">Ao lado esquerdo da tela está posicionado o menu de navegação, 
                já à direita está locazido as notificações existentes para você. Esteja sempre atento a suas notificações!</h4>
        
        </div>
    </div>

</div>