body {

    background-image: linear-gradient(to right, #DCDCDC, #A9A9A9);

}

.conteudo .segments {

    border-radius: 0%;

}

.conteudo .segments .segment {

    border-radius: 0%;

}

@media (min-width: 1176px) and (max-width: 2455px){

    .mobile {

        display: none;
    }

    .ui.segment.cab {
    
        background-image: linear-gradient(to left, #FFFACD, #DAA520);
        border-radius: 0%;
        color: #000000;
        height: 90px;
        position: fixed;
        width: 100%;
    
    }
    
    .segment.cab .header {
        
        margin-left: 3.5%;
        color: #000000;
    
    }
    
    .segment.cab .header h3 {
    
        margin-top: 10px;
    
    }
    
    .segment.cab .header.cab{
    
        float: left;
    
    }
    
    .ui.header .ui.small.image {
    
        width: 165px;
        height: 65px;
        margin-top: -25px;
    
    }
    
    .segment.cab .logout {
    
        float: right;
        margin-right: 2.5%;
    
    }
    
    .menu {
    
        float: left;
        margin-left: 3.5%;
        position: absolute;
        top: 130px;
    
    }
    
    .notificacao {
    
        margin-top: 150px;
        margin-right: 15px;
        position: fixed;
        right: 0%;

    }
    
    .menu .search {
    
        margin-bottom: 25px;
        color: #000000;
    
    }
    
    .menu .search .input input {
    
        background-color: inherit;
        width: 290px;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid;
        color: #000000; 
    
    }
    
    .menu .search .input input:focus {
    
        border-bottom: 2px solid;
    
    }
    
    .menu .search .input input::placeholder {
    
        color: #000000;
    
    }

    .conteudo {

        width: 100%;
        position: fixed;
        top: 150px;
        left: 390px;
        width: calc(100vw - 720px);

    }

    .conteudo .ui.segment.tela {
        
        max-height: 80vh;
        overflow: auto;

    }
    
    /* #008000 */

}

/* TABLETS GRNADES */

@media (min-width: 768px) and (max-width: 1175px){

    .mobile {

        display: none;
    }

    .ui.segment.cab {
    
        background-image: linear-gradient(to left, #FFFACD, #DAA520);
        border-radius: 0%;
        color: #000000;
        height: 90px;
        position: fixed;
        width: 100%;
    
    }
    
    .segment.cab .header {
        
        margin-left: 3.5%;
        color: #000000;
    
    }
    
    .segment.cab .header h3 {
    
        margin-top: 10px;
    
    }
    
    .segment.cab .header.cab{
    
        float: left;
    
    }
    
    .ui.header .ui.small.image {
    
        width: 165px;
        height: 65px;
        margin-top: -25px;
    
    }
    
    .segment.cab .logout {
    
        margin-right: 2.5%;
        float: right;
    
    }
    
    .menu {
    
        /* float: left; */
        margin-left: 3.5%;
        padding-top: 100px;
    
    }
    
    .notificacao {
        
        margin-left: 3.5%;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }

    .notificacoes {

        margin-top: -15px;

    }
    
    .menu .search {
    
        margin-bottom: 25px;
        color: #000000;
    
    }
    
    .menu .items {
    
        float: right;
        color: #000000;
        margin-top: 10px;
    
    }
    
    .menu .search .input input {
    
        background-color: inherit;
        width: 290px;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid;
        color: #000000; 
    
    }
    
    .menu .search .input input:focus {
    
        border-bottom: 2px solid;
    
    }
    
    .menu .search .input input::placeholder {
    
        color: #000000;
    
    }

    .conteudo {

        position: fixed;
        top: 130px;
        left: 390px;
        width: calc(100vw - 400px);

    }

    .conteudo .ui.segment.tela {
        
        max-height: 80vh;
        overflow: auto;

    }
    
    
    /* #008000 */
    
}

/* TELEFONE E TABLETS PORTATEIS */

@media (max-width: 767px){

    .desktop {

        display: none;
    }

    .ui.segment.cab, .ui.segment.cab.mobile {
    
        position: fixed;
        background-image: linear-gradient(to left, #FFFACD, #DAA520);
        border-radius: 0%;
        color: #000000;
        height: 60px;
        width: 100%;
        top: 0;
        z-index: 1;
    
    }
    
    .segment.cab .header {
        
        margin-left: 3.5%;
        color: #000000;
    
    }
    
    .segment.cab .header h3, .ui.header.cab.mobile {
    
        margin-top: 0px;
    
    }
    
    .segment.cab .header.cab {
    
        float: left;
    
    }
    
    .ui.header .ui.small.image {
    
        width: 65px;
        height: 35px;
        margin-top: -15px;
    
    }
    
    .segment.cab .logout {
    
        float: right;
        margin-right: 2.5%;
    
    }
    
    .menu .cards .small {
    
        background-color: #000000;
    
    }
    
    .menu .cards .card i {
    
        color: #000000;
    
    }
    
    .menu .cards .card {

        width: 100%;
        height: 100px;
        border-radius: 0%;

    }

    .menu {
    
        margin: 0 4% 0 4%;
        padding-top: 70px;
    
    }
    
    .menu .yellow.cards .card:hover {
    
        cursor: pointer;
        box-shadow: 10px 10px 10px 0px #000000;
        transform: scale(1.05);
        transition: 0.5s;
    
    }

    .menu .yellow.cards .card:focus {
    
        cursor: pointer;
        box-shadow: 10px 10px 10px 0px #000000;
        transform: scale(1.05);
        transition: 0.5s;
    
    }

    .menu .yellow.cards .card:hover .content .description span {
    
        color: #000000;
    
    }

    .menu .yellow.cards .card:focus .content .description span {
    
        color: #000000;
    
    }
    
    .menu .search {
        
        margin-top: -20px;
        visibility: hidden;

    }

    .conteudo {
        
        top: 70px;
        margin-bottom: 10vw;
        width: 100vw; 
        height: calc(100vh - 50px);
        z-index: -1;
    }
    
    .notificacao {
        
        margin: 30px 4% 0 4%;
        margin-bottom: 30px;
    
    }

    .notificacao .ui.card {

        width: 100%;
        border-radius: 0%;

    }
    
    .notificacao .icon:hover {
    
        cursor: pointer;
    
    }
    
    .notificacao .ntf {
    
       margin-top: -15px;
       border-radius: 0%;
    
    }
    
    .notificacao .card:first-child {
    
        align-items: center;
    
    }

    .notificacoes {

        margin-top: -15px;

    }
    
    .ui.basic.segment {
    
        display: none;
    
    }
    
    .segment .teal.header {
    
        width: 40%;
    
    }
    
    /* #008000 */
    
}