<div class="ui segment cab">
    
    <div [class.desktop]="!activeMenu" class="ui header cab">
        
        <a [routerLink]="['/']" class="ui small image">
            <img *ngIf="imgUrl" [src]="imgUrl">
        </a>
        <h3>Portal do segurado</h3>

    </div>
    <div [class.desktop]="activeMenu" (click)="mobile && (activeMenu = true)" class="ui header cab mobile">
            <i class="bars icon"></i>
    </div>
  
  <div *ngIf="(user$ | async) as user" class="logout">
      <i class="user icon"></i>
      <span *ngIf = "!veioDeAdmin()" [class.desktop]="mobile">Bem vindo(a)! </span>
      <span *ngIf = "veioDeAdmin()" [class.desktop]="mobile">Perfil de </span>
      <div class="ui inline pointing dropdown">
            {{ user.user_name | nomePipe }}
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" (click)="toggleState(false)">Alterar dados</div>
                <div class="item" (click)="toggleState(true)">Alterar senha</div>
                <div *ngIf = "veioDeAdmin()" class="item" (click)="voltarAdmin()">Voltar para perfil ADM</div>
                <div *ngIf = "!veioDeAdmin()"(click)="logout()" class="item"><i class="sign out alternate icon"></i><span>Sair.</span></div>
            </div>
      </div>
  </div>
</div>
<!-- MENU -->
<div [class.desktop]="!activeMenu" class="menu">

<div class="ui category search">
  <div class="ui left icon input">
      <input class="prompt" placeholder="Digite para buscar menus..." type="text" (keyup)="filter = $event.target.value">
      <i class="search icon"></i>
  </div>
</div>

<app-menu (click)="mobile && (activeMenu = false)" [menus]="menus | filterByDescricao: filter"></app-menu>
  
</div>
<!-- NOTIFICAÇÃO -->
<div [class.desktop]="!activeMenu" class="notificacao">

  <app-notificacao></app-notificacao>

</div>
<!-- CONTEÚDO -->

<div [class.desktop]="activeMenu" class="conteudo">
    <router-outlet></router-outlet>
</div>

<app-alterar-dados [state]="stateDados" [user]="user$ | async" (toggle)="stateDados = $event"></app-alterar-dados>

<app-alterar-senha [state]="stateSenha" [user]="user$ | async" (toggle)="stateSenha = $event"></app-alterar-senha>